<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using BakeryTracker.Models;

    <h3>Vendor details</h3>
    <p>Name: @Model["vendor"].Name</p>
    <p>Orders: </p>
    
    @if (@Model["orders"].Count == 0)
    {
      <p>There are no orders for this vendor yet.</p>
    }
    <ol>
      @foreach (Order order in @Model["orders"])
    {
      <li>@order.Title</li>
    }
    </ol>

    <p><a href="/vendors/@Model["vendor"].VendorId/orders/new">Add a new order for this vendor</a></p>

    <br><p><a href='/vendors'>Return to Vendor list</a></p>
    
  </body>
</html>